<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
        <div>
            <h1><a href="">SoftCatalyst Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post in this blog</p>
            <h6>published: 23.02.2015, 16:23</h6>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>this the newest post from soft catalyst</p>
            <h6>published: 23.02.2015, 16:37</h6>
        </div>
</body>
</html>